h1{
  font-size: 35px;
}

h2{
  font-size: 28px;
  text-align: center;
  margin: 20px;
}

pre{
  margin-bottom: 0;
}

.title {
  padding-top: 3rem;
  text-align: center;
}

.bmvc_label{
  text-align: center;
  font-size: 20px;
}

.authors{
  font-size: 20px;
  text-align: center;
}

.center_video{
  margin: 0 auto;
  display: block;
  width: 99%;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 95%; */
}

.codebox {
        /* color: #343a40; */
        /* background-color: #f8f9fa; */
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 0.9em;
        max-width: 100%;
        width: 100%;
        display: inline-block;
        text-align: left;
}


.column {
  float: left;
  width: 50%;
  /* padding: 10px; */
  height: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* This ensures images stay in one row */
  overflow: hidden;  /* This hides any content (images) that might overflow the container */
}

.image-row img {
  flex: 1;           /* This ensures each image takes an equal portion of the available space */
  height: auto;      /* Maintain image aspect ratio */
  max-width: 100%;   /* This ensures the image doesn't exceed its container's width */
  min-width: 0;      /* This allows the image to shrink below its intrinsic width if necessary */
  margin-right: 10px;/* Add space to the right of each image */
}

.image-row img:last-child {
  margin-right: 0;   /* Remove the margin for the last image */
}

div.polaroid {
  /* width: 250px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-align: center; */
}

.pos_left {
  position: absolute;
  left: 20px;
}
.pos_right {
  position: absolute;
  right: 20px;
}

.center-text {
    text-align: center;
}
